SECRET_KEY='
DEBUG=True
ALLOWED_HOSTS=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_HOST_NAME=https://2987-41-89-10-241.ngrok-free.app
MPESA_PASS_KEY=
MPESA_SAFARICOM_API=https://sandbox.safaricom.co.ke
MPESA_AUTH_URL=/oauth/v1/generate?grant_type=client_credentials
MPESA_TRANSACTION_TYPE=CustomerBuyGoodsOnline
MPESA_TILL_NUMBER=
MPESA_SHORT_CODE=
